.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Added this line */
}
.title{
  margin: 1em;

}

.Table {
  width: 95%;
  margin: 1em;
}

.ActionCard {
  width: 95%;
  margin: 1em;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.select {
  width: 50%;
  margin: 1em;
  padding: 2%;
}

.input {
  margin: 1em;
}
.actionButton {
  margin: 1em;
}
.NotesPage {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.NotesCard {
  padding: 2%;
}
.clickCountDiv {
  margin: 2em;
}
.countBox {
  padding: 3%;
  background-color:rgb(209, 252, 252);
  border: 1px solid rgb(0, 0, 0);
}